<h2>Timesheet for <%= @user.firstname+' '+@user.lastname%></h2>

<%= render :partial => "navigation" %>

<br />

<% if @current_day %>
	<%= render :partial => "daily" %>
<% else %>
	<%= render :partial => "weekly" %>
<% end %>

<% form_content = lambda do %>
  <p>
    <%= select_tag 'issue_id', option_groups_from_collection_for_select(@loggable_projects, :open_issues, :name, :id, :subject), class: "chosen-select" %>
    <%= submit_tag l('redmine_hours.new_time_entry') %>
  </p>
<% end %>

<% if Redmine::VERSION::MAJOR == 1 %>
  <% form_tag({:controller => 'timelog', :action => 'new'}, :method => :get, &form_content) %>
<% else %>
  <%= form_tag({:controller => 'timelog', :action => 'new'}, :method => :get, &form_content) %>
<% end %>

<div>
  <% issue_collections = {l(:label_assigned_to_me_issues) => @issues_assigned_to_me,
                          l("redmine_hours.my_most_used")=> @my_most_used_issues } %>

  <% issue_collections.each do |title, issues| %>
    <div>
      <h3> <%= title %> </h3>
      <table class="rh-issue-table">
        <% issues.each do |issue| %>
          <% project = issue.project %>
          <tr>
            <td>
              <%= link_to project.name, project_path(project) %> - <%= link_to issue.subject, issue_path(issue) %>
            </td>
            <td>
              <%= link_to l('redmine_hours.new_time_entry'), new_issue_time_entry_path(issue) %>
            </td>
          </tr>
      <% end %>
      </table>
    </div>
  <% end %>
</div>
