<h2>Timesheet for <%= @user.firstname+' '+@user.lastname%></h2>

<%= render :partial => "navigation" %>

<br />

<% if @current_day %>
	<%= render :partial => "daily" %>
<% else %>
	<%= render :partial => "weekly" %>
<% end %>

<% form_tag({:controller => 'timelog', :action => 'new'}, :method => :get) do %>
	<p>
		<%= select_tag 'issue_id', option_groups_from_collection_for_select(@loggable_projects, :issues, :name, :id, :subject) %>
		<%= submit_tag l('redmine_hours.new_time_entry') %>
	</p>
<% end %>

